article:hover {
    background-color: #48852f;
    transition: all .75s ease-in-out;
  }
  
  .bar:hover .box-icon-ruby-icon {
    color: #fe8d34;
  }
  
  .bar:hover .box-icon-ruby-title a {
    color: white;
  }
  