@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.section__hero {
  background: url(/public/images/farmer1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.5; */
  height: 500px;
  position: relative;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.section__hero__one {
  background: url(/public/images/hero1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.5; */
  height: 500px;
  position: relative;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.section__hero__two {
  background: url(/public/images/hero2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.5; */
  height: 500px;
  position: relative;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

/* .section-about {
  background: url(/public/images/image1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5; 
  height: 300px;
  position: relative;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
} */

.box-icon-ruby {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 30px 22px;
  min-height: 100%;
  border: 1px solid #d7d7d7;
  transition: all .2s ease;
  z-index: 1;
}

.box-icon-ruby::before {
  top: 6px;
  right: 6px;
  bottom: 6px;
  left: 6px;
  border: 1px solid #d7d7d7;
  transition: all .3s ease-in-out;
  z-index: -1;
}

.box-icon-ruby::after {
  top: 14px;
  right: 14px;
  bottom: 14px;
  left: 14px;
  background: #3c6a36;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease;
  z-index: -2;
}

.box-icon-ruby::before,
.box-icon-ruby::after {
  position: absolute;
  content: '';
}

.box-icon-ruby-body {
  margin-bottom: -30px;
  margin-left: -11px;
}

.unit {
  display: flex;
  flex: 0 1 100%;
  /* margin-bottom: -30px;
  margin-left: -20px; */
}

.box-icon-ruby-body>* {
  margin-bottom: 30px;
  margin-left: 11px;
}

.unit-left,
.unit-right {
  flex: 0 0 auto;
  max-width: 100%;
}

.box-icon-ruby-text,
.box-icon-ruby-icon {
  transition: all .2s ease-in-out;
}

.box-icon-ruby-icon {
  font-size: 48px;
  line-height: 1;
  color: #151515;
}

.linearicons,
[class^="linearicons-"],
[class*=" linearicons-"] {
  font-family: 'Linearicons' !important;
  /* speak: none; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* line-height: 1; */
  -webkit-font-smoothing: antialiased;
  /* -moz-osx-font-smoothing: grayscale; */
}

/* .linearicons-leaf:before {
  content: "\eb2d";
} */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* For the services section */
.services-one:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  content: "";
  background-color: #f8f6f1;
  z-index: -1;
}

.services__bg {
  background: url('https: //th.bing.com/th?id=OIP.i6HRFoC-NAybo_J1OgssxQHaF5&w=280&h=223&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2');
  position: absolute;
  top: 165px;
  left: 0;
  right: 0;
  height: 400px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  opacity: .5;
  z-index: 1;
}

@media (min-width: 768px) {
  .box-icon-ruby {
    padding-top: 46px;
    padding-bottom: 46px;
  }
}


/* .footer {
  background: url(/public/images/hero.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
} */